.container{
    max-width: 960px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 24 px;
    padding: 25px;
}

.parallax{
    background: url('images/techpic.jpeg') no-repeat center;
    background-size:cover;
    background-attachment:fixed;
    height:500px;
   

}

.computer{
    background: url('images/backgroundTwo.jpeg') no-repeat center;
    background-size:cover;
    background-attachment:fixed;
    height:500px;

}

.dcpics{
    background: url('images/yellow.jpeg') no-repeat center;
    background-size:cover;
    background-attachment:fixed;
    height:500px;
}

body{
    background: url('images/dcpic.png') no-repeat center;
    background-size:cover;
    background-attachment:fixed;
    height:500px;

}

.nav{
    background-color: lightcoral;
    color:darkgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

footer{
    background-color:lightcoral;
    color:darkgrey;
    align-content: center;
    text-align: center;
    color: blue;
    margin-top: 20px;
    font-size: 20px;
}

.containerPort{
    margin-top: 10px;
    font-size: 20px;
    border-radius: 15px;
    opacity: 40%;
    text-align: center;
    color: #fff;
    background-color:rgba(78, 76, 76, 0.781);
    margin-left: 30%;
    margin-right:30%;
}

.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

#container{

    max-width: 960px;
    margin: 0 auto;
    background: #9491919a;
    font-size: 24 px;
    padding: 25px;
}


.contactPage body{
    margin:0;
    padding:0;
    background: #fff;
    font-family: oswald;
    color:#000;
    font-size:150px;
    overflow-x: hidden;
}

.object1{
    height:270px;
    width: 270px;;
    position:absolute;
    top:15%;
    left:24%;
    background:rgb(14, 103, 138);
    border-radius:50%;
}

.object2{
    height:200px;
    width:200px;
    position:absolute;
    top:105%;
    left:66%;
    background:rgb(212, 57, 140);
    border-radius:50%;
}

.object3{
    height:330px;
    width:330px;
    position:absolute;
    top:136%;
    left:28%;
    background:rgb(170, 197, 72);
    border-radius:50%;
}

.object4{
    height:350px;
    width:350px;
    position:absolute;
    top:30%;
    left:45%;
    background:blueviolet;
    border-radius:50%;
}

.object5{
    height:150px;
    width:150px;
    position:absolute;
    top:100%;
    left:45%;
    background:forestgreen;
    border-radius:50%;
}

.thing1{
    position: absolute;
    top:0%;
    left:5%;
}

.thing2{
    position: absolute;
    top:15%;
    left:20%;
}

.thing3{
    position: absolute;
    top:25%;
    left:30%;
}

.thing4{
    position: absolute;
    top:35%;
    left:40%;
}

.thing5{
    position: absolute;
    top:45%;
    left:50%;
}
.thing6{
    position: absolute;
    top:55%;
    left:60%;
}

.thing7{
    position: absolute;
    top:65%;
    left:70%;
}

.thing8{
    position: absolute;
    top:75%;
    left:80%;
}

.thing9{
    position: absolute;
    top:85%;
    left:90%;
}

.jumbotron{

    text-align: center;
    opacity: 40%;
    background: rgba(78, 76, 76, 0.781);
}
.container{
    text-align: center;
    opacity: 40%;
    background: rgba(78, 76, 76, 0.781);
    color: #f9f9f9;
}

.circ{
    font-size: 5px;
    size: 25px;

}

.list{
    align-content: center;
}
.fab{
    align-content: center;
    color:  lightcoral;
}